/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/


body {

}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  position: relative;
  left: 100px;
  top: 50px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  position: relative;
  top: 192px;
  }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  position: relative;
  top: 55px;
  color: white;
  max-width: 320px;
  right: 35%;
  float: right;
  }


h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 165px;
  left: 43%;
  color: white;
  }

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 100px;
  top: 50px;
  margin-top: 700px;
  color: black;
  }

h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  left: 100px;
  top: 50px;
  margin-top: 740px;
  color: black;
  }

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  position: relative;
  left: 100px;
  top: 134px;
  color: black;
  display: block;
}

button {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 800;
      text-align: center;
      margin-top: 30px;
      color: black;
      background-size: contain;
      background-color: yellow;
      border-radius: 5px;
      padding: 8px 30px;
      border: none;
      position: relative;
      top: 210px;
      right: 44%;
      float: right;
     }

button2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 800;
      text-align: center;
      margin-top: 30px;
      color: white;
      background-size: contain;
      background-color: #033048;
      border-radius: 5px;
      padding: 8px 30px;
      border: none;
      position: relative;
      top: 9px;
      right: 14.5%;
      float: right;
     }

.yellowRelaxr {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
  text-align: center;
  position: relative;
  top: 485px;
  }

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  font-weight: 600;
  color: white;
  text-align: center;
  position: relative;
  top: 650px;
  }

.logos {
  display: inline;
  padding: 13px 16px 12px 20px;
  position: relative;
  top: 548px;
  left: 43%;
}

#twitter {
  content:url(../images/twitter.png);
}

#facebook {
  content:url(../images/facebook.png);
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */



header {
  background:  #f0efef url(../images/header_bg.jpg) no-repeat center top;
  background-size: auto;
  height: 700px;
}
.Benefits {
  background-color:  #f0efef;
  background-size: auto;
  height: 395px;
}
footer {
  background:  #121212 url(../images/testimonial_bg.jpg) no-repeat center top;
  background-size: auto;
  height: 900px;
}

.yellowBar {
  background-color: #f9e42e;
  width: 100%;
  height: 100px;
  position: relative;
  top: 400px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
